@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: rgb(255, 255, 255);
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	gap: 20px;
}

.summary-container {
	width: 40%;
	background: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 2px solid #4CAF50;
}

.remain-container,
.goal-container,
.income-container,
.expence-container {
	background: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	height: 50%;
	width: 25%;
	text-align: center;
	border: 2px solid #4CAF50;
}

.summary-container h1 {
	border-bottom: 2px solid #4CAF50;
	padding-bottom: 10px;
	margin-top: 0px;
	color: #333;
}

h2 {
	font-size: 1.2em;
	color: #333;
	border-bottom: 2px solid #4CAF50;
	padding-bottom: 10px;
	margin-top: 0;
}

.remain-text,
.goal-text,
.income-text,
.expence-text,
.summary-text {
	font-size: 2.5em;
	color: #4CAF50;
	font-weight: bold;
	margin: 0;
}

.link-text {
	margin-top: 10px;
	color: rgb(72, 72, 72);
	font-size: 0.9em;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
}


.table-container {
	width: 400px;
	height: 200px;
	overflow: auto;
	border: 1px solid #ddd;
	margin-top: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th,
td {
	padding: 12px;
	border: 1px solid #ddd;
	text-align: left;
}

th {
	background-color: #f2f2f2;
	color: #333;
}