<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/balance.css}">
	<title>支出管理画面</title>
</head>
<body>
	<div th:insert="~{header}"></div>
	<div class="container">
		<div class="form-container">
			<h2>支出先</h2>
			<form th:action="@{/expence}" method="post" th:object="${ExpenceForm}">
				<span style="color: red;" th:text="${errorMsg}"></span>
				<div>
					<label>支出先</label>
					<input type="text" th:field="*{category}" placeholder="会社名を入力してください" required>
				</div>
				<div>
					<label>金額</label>
					<input type="number" th:field="*{amount}" placeholder="収入額を入力してください" min="1" required>
				</div>
				<div>
					<label>日付</label>
					<input type="date" th:field="*{date}" required>
				</div>
				<div class="btn-box">
					<button class="btn-green">登録</button>
				</div>
			</form>
		</div>
		<div class="summary-container">
			<h2>今月の支出</h2>
			<p class="summary-text" th:text="${total_expence} + '円'">0円</p>
		</div>
		<div class="table-container">
			<h2>支出一覧</h2>
			<table>
				<tr>
					<th>支出先</th>
					<th>金額</th>
					<th>日付</th>
					<th></th>
				</tr>
				<tr th:each="expence : ${expences}" th:object="${expence}">
					<td th:text="${expence.category}">アルバイト名</td>
					<td th:text="${expence.amount}">金額</td>
					<td th:text="${expence.date}">日付</td>
					<td>
					     <a class="btn btn-green" th:href="@{/expence-delete(expence_id=${expence.expence_id})}">削除</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>