<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/header.css}">
	<title>Income Page</title>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="header">
		<h1 class="header-logo"><a href="/menu" style="text-decoration: none; color: inherit;">StudiSave</a></h1>
		<nav class="header-nav">
			<ul class="header-list">
				<li class="header-item"><a href="/menu" class="custom-link">HOME</a></li>
				<li class="header-item"><a href="/income" class="custom-link">収入管理</a></li>
				<li class="header-item"><a href="/expence" class="custom-link">支出管理</a></li>
				<li class="header-item"><a href="/subscription" class="custom-link">サブスク管理</a></li>
			</ul>
			<div class="header-user">
				<form th:action="@{/logout}" method="post">
					<span class="text-light" th:text="|ユーザー名：${#authentication.principal.username}|"></span>
					<input type="submit" class="btn btn-light" value="ログアウト" />
				</form>
			</div>
		</nav>
	</header>

</body>

</html>