<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/balance.css}">
	<title>収入管理ページ</title>
</head>

<body>
	<div th:insert="~{header}"></div>
	<div class="container">
		<div class="form-container">
			<h2>収入入力</h2>
			<form th:action="@{/income}" method="post" th:object="${IncomeForm}">
				<span style="color: red;" th:text="${errorMsg}"></span>
				<div>
					<label>収入名</label>
					<input type="text" th:field="*{job}" placeholder="会社名を入力してください" required>
				</div>
				<div>
					<label>収入額</label>
					<input type="number" th:field="*{amount}" placeholder="収入額を入力してください" min="1" required>
				</div>
				<div>
					<label>日付</label>
					<input type="date" th:field="*{date}" required>
				</div>
				<div>
					<label>収入振込日</label>
					<input type="date" th:field="*{remittance_date}" required>
				</div>
				<div style="font-size: 13px; margin-bottom: 10px;">
				    ※収入振込日になると貯金に加算されます。
				</div>
				<div class="btn-box">
					<button class="btn-green">登録</button>
				</div>
			</form>
		</div>
		<div class="summary-container">
			<h2>今月の収入</h2>
			<p class="summary-text" th:text="${total_income} + '円'">0円</p>
		</div>
		<div class="table-container">
			<h2>収入一覧</h2>
			<table>
				<tr>
					<th>収入源</th>
					<th>金額</th>
					<th>日付</th>
					<th>収入振込日</th>
					<th></th>
				</tr>
				<tr th:each="income : ${incomes}" th:object="${income}">
					<td th:text="${income.job}">収入源</td>
					<td th:text="${income.amount}">金額</td>
					<td th:text="${income.date}">日付</td>
					<td th:text="${income.remittance_date}">収入振込日</td>
					<td>
						<a class="btn btn-green" th:href="@{/income-delete(income_id=${income.income_id})}">削除</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>