<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/login.css}">
<title>ログイン画面</title>
</head>
<body class="text-center" >
<form th:action="@{/login}" method="post" th:object="${loginForm}">
	<span th:text="${errorMsg}"></span>
	<h2>ログイン</h2>
	<div>
		<label>ユーザー名</label>
		<input type="text" th:field="*{username}">
	</div> 
	<div>
		<label>パスワード</label>
		<input type="text" th:field="*{password}">
	</div>
	<button class="btn btn-primary" type="submit">ログイン</button><br />
	<br />
	<a th:href="@{'/signup'}">新規登録はこちら</a>
	
</form>
</body>
</html>