<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"></meta>
	<link rel="stylesheet" th:href="@{/login.css}">
	<title>ユーザー登録</title>
</head>

<body>
	<form method="post" th:action="@{/signup}" th:object="${signupForm}">
		<div class="page-header">
			<h1>ユーザー登録</h1>
		</div>
		<span style="color: red;" th:text="${Message}"></span>
		<table class="table table-bordered table-hover">
			<!-- メールアドレス -->
			<tr>
				<th class="active">メールアドレス</th>
				<td>
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{mail_address}" required/>
					</div>
				</td>
			</tr>
			<!-- ユーザー名 -->
			<tr>
				<th class="active">ユーザー名</th>
				<td>
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{username}" required/>
					</div>
				</td>
			</tr>
			<!-- パスワード -->
			<tr>
				<th class="active">パスワード</th>
				<td>
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{password}" required/>
					</div>
				</td>
			</tr>
		</table>
		<button class="btn btn-primary" type="submit">登録</button><br />
			<br />
			<a th:href="@{'/login'}">ログイン画面に戻る</a>
	</form>
	</div>
</body>

</html>